*,
*::before,
*::after {
  box-sizing: border-box;
}

*::before,
*::after,
p,
div,
span,
li,
ul,
ol,
a,
button,
input,
textarea,
select,
section {
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
}
